/* Colors 
Beige
Gold
saddlebrown
DarkRed
CadetBlue
darkslategray
darkseagreen
darkolivegreen
*/
@font-face {font-family: StitchWarrior; src: url('assets/StitchWarrior-38AX.ttf')}
@font-face {font-family: TurretRoad; src: url('assets/TurretRoad-Medium.ttf')}

body {
  margin: 0;
  font-family: TurretRoad, impact, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: Beige;
}

h1, h2, h3 {
  font-family: StitchWarrior;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 20px;
  border:  40px solid darkred;
  border-image-source: url(assets/TapestryBorderWheelVineStar.png);
  /* border-image-width: 20px; */
  border-image-slice: 40;
  border-image-repeat: round;
}

table{
  margin-bottom: 10px;
}

thead tr th{
  font-size: x-large;
  font-family: StitchWarrior;
  padding-right: 10px;
}

td {
  border: 2px dashed cadetblue;
  padding-left: 5px;
  padding: 5px;
}

td > button {
  background-color: gold;
  border: none;
  width: auto;
  height: 30px;
  display: block;
  margin: -5px;
}

input[type="file"] {
  display: none;
}

.file-io-button {
  background-color: darkolivegreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.file-io-button:hover {
  background-color:darkseagreen; 
}
